<mat-toolbar color="primary" class="flex p-3">
    <h1 class="col-3">Itea - best furniture in town</h1>
    <div class="col flex justify-center items-center">
        <button matButton routerLink="products">Shop</button>
        <button matButton routerLink="about">About Us</button>
        <button matButton routerLink="imprint">Imprint</button>
    </div>
    <div class="col-3 flex justify-end items-center">
        <button matIconButton aria-label="search bar">
            <mat-icon>search</mat-icon>
        </button>
        <button matIconButton aria-label="shopping cart" routerLink="cart">
            <mat-icon>shopping_cart</mat-icon>
        </button>
    </div>
</mat-toolbar>