.card-box {
    border: 1px solid #e7e4e4;
    min-height: 12rem;
    width: 14rem;
    margin: 0rem;
}

.card-box mat-card-content img {
    object-fit: cover;
}

a {
    text-decoration: none;
    color: inherit;
}
