<a [routerLink]="['/product', product.id]" [attr.data-cy]="'product_' + product.name">
    <mat-card data-cy="card-box" class="card-box" appearance="outlined">
        <mat-card-header>
            <mat-card-title class="fw-bold">{{ product.name }}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="product.imageUrl" [alt]="product.name" />
        <mat-card-content>
            <p>{{ product.description }}</p>
            <span>{{ product.price | currency: 'EUR' }}</span>
        </mat-card-content>
    </mat-card>
</a>
